body{
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: #4cdbc4;
	display: flex;
	justify-content: center;
	align-items: center;
}
.calc{
	width: 600px;
	height: 600px;
	padding: 25px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: #324a5e;
	font-family: "Comic Sans MS";
	/*overflow: hidden;*/
}
#prompt{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 2%;
	box-sizing: border-box;
	margin-bottom: 25px;
	width: 100%;
	height: 18%;
	background: #e6e9ee;
	border: 0;
	font-size: 60px;
	color: #324a5e;
	text-shadow: 0 0 5px white;
	overflow: hidden;
}
.hidd{
	display: none;
}
.row{
	width: 96%;
	display: flex;
	justify-content: space-between;
}
.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 75px;
	margin-bottom: 2px;
	border: 0;
	border-radius: 10px;
	font-size: 60px;
	color: #293c4d;
	background: white;
	cursor: pointer;
}
.btn:hover{
	box-shadow: 0 0 10px white;
}
.btn:active{
	box-shadow: 0 0 20px white;
}
.btn.oper{
	background: #f9b54c;
}
.btn.clr{
	width: 100%;
	background: #fd8469;
}